.content {
    padding: 0;
    min-height: 100vh;
}

.show-header {
    width: 100%;
    min-height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.show-information-container {
    width: 100%;
    max-width: 1400px;
    min-height: 100px;
    margin: 0 15px;
    color: #fff;
    padding: 25px;
    margin-top: 100px;
}

.show-information-container h2 {
    font-size: 3rem;
    margin-bottom: 7.5px;
}

.show-information-container span {
    font-size: var(--normalTextSize);
    color: #ddd;
    margin-bottom: 7.5px;
    display: inline-block;
}

.show-information-container p {
    max-width: 120ch;
    font-size: var(--normalTextSize);
    line-height: 1.6;
}

.show-all-discription {
    margin-top: 7.5px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    font-weight: bolder;
    font-size: 1.1rem;
}

.show-all-discription:hover {
    text-decoration: underline;
}

.show-buttons-container {
    width: 100%;
    min-height: 80px;
    border-bottom: 3px solid var(--accent-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
}

.show-buttons-container button {
    cursor: pointer;
}

.no-posts-yet {
    height: 50px;
    width: 100%;
    color: grey;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

#episodesContainerNewest {
    display: flex;
}

#episodesContainerOldest {
    display: none;
}

/* /// END DECORATION CSS /// */
.icon_select_mate {
    position: absolute;
    top: 20px;
    right: 2%;
    font-size: 16px;
    height: 22px;
    transition: all 275ms;
}

.select_mate {
    position: relative;
    float: left;
    width: 250px;
    color: #fff;
    border: 2px solid var(--accent-color);
    border-radius: var(--roundedCorners);
    font-weight: 300;
    font-size: 1.2rem;
    outline: none;
    cursor: pointer;
    box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.3);
}

.select_mate select {
    position: absolute;
    overflow: hidden;
    height: 0px;
    opacity: 0;
    z-index: -1;
}

.cont_list_select_mate {
    position: relative;
    float: left;
    width: 100%;
}

.cont_select_int {
    position: absolute;
    left: 0px;
    top: 10px;
    z-index: 999;
    overflow: hidden;
    height: 0px;
    width: 100%;
    background-color: var(--primary-color);
    border: none;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: var(--roundedCorners);
    box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
    transition: .3s ease-in-out;
}

.cont_select_int li {
    position: relative;
    float: left;
    width: 96%;
    background-color: var(--primary-color);
    list-style-type: none;
    padding: 10px 15px;
    margin: 0px;
    display: block;
    cursor: pointer;
}

.cont_select_int li:last-child {
    border-radius: 3px;
    border-bottom: 0px;
}

.cont_select_int .active {
    background-color: var(--secondary-color);
}

.selecionado_opcion {
    padding: 16px 15px;
    width: 96%;
    display: block;
    margin: 0px;
    cursor: pointer;
}

.show-episodes-container {
    width: 100%;
    max-width: 1350px;
    min-height: 10px;
    margin: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.show-episodes-container a {
    width: 100%;
    max-width: 300px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.episode-container {
    width: 100%;
    max-width: 300px;
    margin: 15px;
    color: #fff;
    cursor: pointer;
}

.episode-thumbnail {
    width: 100%;
    height: 180px;
    border-radius: var(--roundedCorners);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.episode-thumbnail span {
    position: absolute;
    bottom: 5px;
    right: 10px;
    display: inline-flex;
    background-color: #00000070;
    font-size: .8rem;
    padding: 1px 7.5px;
    border-radius: 12px;
}

.episode-container h3 {
    margin: 10px 0;
}

.episode-container span {
    font-size: var(--normalTextSize);
    color: #ddd;
    margin-bottom: 7.5px;
    display: inline-block;
}

@media screen and (max-width: 1350px) {
    .show-episodes-container {
        max-width: 1020px;
    }
}

@media screen and (max-width: 1150px) {
    .show-episodes-container {
        max-width: 690px;
    }
}

@media screen and (max-width: 700px) {
    .show-episodes-container {
        max-width: 500px;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .show-header {
        border-bottom-left-radius: 20%;
        border-bottom-right-radius: 20%;
        min-height: 300px;
    }

    .show-header::before {
        border-bottom-left-radius: 20%;
        border-bottom-right-radius: 20%;
    }

    .show-buttons-container {
        flex-direction: column;
        justify-content: center;
    }

    .show-information-container {
        text-align: center;
    }

    .show-buttons-container a {
        width: 100%;
        max-width: 350px;
        margin-bottom: 7.5px;
    }

    .select_mate {
        width: 100%;
        max-width: 350px;
        margin-bottom: 5px;
    }

    .show-episodes-container {
        align-items: center;
        justify-content: center;
    }

    .show-episodes-container a {
        margin: 0;
    }
}