.login-container {
    width: 100%;
    max-width: 1920px;
    min-height: 100vh;
    margin: 0 auto;
    background: url('/res/images/login-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.login-form {
    width: 100%;
    max-width: 450px;
    height: 600px;
    box-shadow: 0 10px 100px #000;
    padding: 15px;
    border-radius: var(--roundedCorners);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.login-form::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1e1e1e90;
    border-radius: var(--roundedCorners);
    filter: blur(10px);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.login-form .dashboard-logo {
    width: 75px;
    height: 75px;
    margin: 25px auto;
    margin-top: 10px;
    background-image: url('/res/images/dashboard-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
}

.login-form h2 {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    margin-bottom: 2.5px;
    z-index: 3;
}

.login-form h3 {
    width: 100%;
    text-align: center;
    color: grey;
    font-weight: lighter;
    font-size: 1rem;
    margin-bottom: 35px;
    z-index: 3;
}

.login-form .form-components {
    width: 100%;
    z-index: 3;
}

.login-form .username,
.login-form .password {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 15px;
    padding-bottom: 5px;
}

.login-form .username .icon,
.login-form .password .icon {
    width: 75px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3c7cb9;
    font-size: 1.2rem;
    padding-right: 15px;
}

.login-form input[type='text'], .login-form input[type='password'] {
    width: 100%;
    height: 45px;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 45px;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
}

.login-form input[type='text']:focus, .login-form input[type='password']:focus {
    border-bottom: 1px solid #3c7cb9;
}

.login-form input[type='text'] {
    margin-bottom: 5px;
}

.login-form input[type='password'] {
    margin-top: 10px;
}

.login-form input[type='submit'] {
    width: 130px;
    height: 60px;
    background-color: #3c7cb9;
    border-radius: 33px;
    color: #fff;
    font-size: 1.1rem;
    outline: none;
    z-index: 2;
    cursor: pointer;
    margin-left: 64.28px;
    margin-top: 35px;
    border: none;
}

.error {
    border: 2px solid red;
    background: rgba(255, 0, 0, 0.3);
    width: 100%;
    min-height: 75px;
    position: absolute;
    top: calc(100% + 15px);
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
    padding: 15px;
    transition: .3s;
}

.error-active {
    display: flex;
    animation: popup .3s ease forwards;
}

@keyframes popup {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

@media screen and (max-width: 600px) {
.login-form input[type='submit'] {
    margin: 0 auto;
    margin-top: 35px;
}
.login-form .form-components {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
}

@media screen and (max-width: 500px) {
    .login-form input[type='submit'] {
        top: unset;
        right: 15px;
        bottom: -25px;
    }
}

