/* userlogs section */

.userlogs {
  width: 100%;
  min-height: 0;
  max-height: calc(100vh - 70px - 30px);
  overflow-y: auto;
  border: 1px solid #333;
  background-color: var(--secondary-color);
  border-radius: var(--roundedCorners);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.userlogs::-webkit-scrollbar {
  width: 5px;
}

.userlogs-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userlogs-row:nth-child(even) {
  background-color: #202020;
}

.userlogs-row th {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.userlogs-row th:nth-child(4) {
  border-right: none;
}

.userlogs-row td {
  min-height: 60px;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  font-size: 1.2rem;
  font-weight: lighter;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
}

.userlogs-row td:nth-child(4) {
  border-right: none;
}

@media screen and (max-width: 1200px) {

  .userlogs-row {
    display: block;
    border-bottom: 1px solid #333;
  }

  .userlogs td {
    border: none;
  }

  .userlogs td::before {
    content: attr(data-cell) ": ";
    font-weight: bold;
    padding-right: 5px;
  }

  .userlogs th {
    display: none;
  }
}