.content {
    padding: 0;
    min-height: 100vh;
    justify-content: flex-start;
}

.cart-container-max {
    width: 100%;
    max-width: 1400px;
    min-height: 100px;
    margin: 0 25px;
}

.cart-empty-container {
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cart-empty-container h2 {
    color: #fff;
    font-size: 2.5rem;
    margin-top: 100px;
    margin-bottom: 45px;
    text-align: center;
}

.you-may-like-container {
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

/* cart items display section styling */

.cart-container {
    width: 100%;
    min-height: 500px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 25px;
    padding-top: 150px;
}

.cart-container h3 {
    width: 100%;
    max-width: 1000px;
    text-align: left;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 45px;
}

.cart-table {
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
}

.cart-header {
    color: #fff;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 10px;
}

.cart-items {
    width: 100%;
    min-height: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.cart-item {
    width: 100%;
    min-height: 100px;
    color: #fff;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

.item-info {
    width: 100%;
    height: 100%;
}

.item-preview, .item-title, .item-quantity, .item-price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.item-preview img {
    width: 80px;
    height: 80px;
    border-radius: var(--roundedCorners);
}

.item-title h5 {
    padding-left: 10px;
    display: none;
}

.item-title h5:nth-child(1) {
    padding-left: 10px;
    display: flex;
}

.delete-item {
    background-color: transparent;
    color: grey;
    border: none;
    outline: none;
    font-size: 1.1rem;
    cursor: pointer;
    transition: .3s;
    position: absolute;
    right: 0;
    top: 40px;
}

.delete-item:hover {
    color: #fff;
}

.cart-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.continue-shopping, .checkout {
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.continue-shopping {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.continue-shopping a {
    width: 80%;
    display: block;
}

.checkout {
    border-top: 2px solid var(--accent-color);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.checkout h4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 0;
}

/* you may also like section styling */

.you-may-like-container h2 {
    width: 100%;
    text-align: left;
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 25px;
    padding-left: 20px;
}

.suggested-items-container {
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.suggested-item {
    width: 100%;
    max-width: 300px;
    margin: 45px 20px;
    min-height: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.suggested-item-preview {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: var(--roundedCorners);
}

.suggested-item img {
    width: 300px;
    height: 300px;
    transition: .3s;
}

.suggested-item-preview:hover > img {
    scale: 1.1;
}

.suggested-item-preview:hover ~ h3 {
    color: var(--accent-color);
}

.suggested-item h3 {
    color: #fff;
    font-size: 1.4rem;
    margin: 15px 0;
    transition: .3s;
    max-height: 35px;
    overflow: hidden;
}

.suggested-item h4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 1.1rem;
    font-weight: lighter;
}

.suggested-item h4 button {
	font-size: 1.2rem;
	color: var(--foregroundLight-color);
	background-color: var(--accent-color);
	padding: 5px 15px;
	border-radius: 22px;
	display: inline-block;
	border: 2px solid var(--accent-color);
	text-align: center;
	transition: .3s;
	cursor: pointer;
}

.suggested-item h4 button:hover {
	background-color: transparent;
}

.cart-container h3 {
    text-align: center;
}

@media screen and (max-width: 850px) {

    .cart-container {
        padding-top: 50px;
    }

    .cart-container h3 {
        margin-top: 50px;
        text-align: center;
    }

    .cart-header h4 {
        display: none;
    }

    .cart-header {
        justify-content: flex-start;
    }

    .cart-header h4:nth-child(1) {
        width: 100%;
        display: flex;
    }

    .item-title {
        max-width: 100% !important;
        padding-left: 65px;
        display: block;
    }

    .item-quantity, .item-price {
        display: none;
    }

    .item-title h5 {
        display: flex;
        margin-bottom: 5px;
        font-weight: 500;
    }

    .item-title h5:nth-child(1) {
        font-weight: 600;
    }

    .cart-footer {
        flex-direction: column-reverse;
    }

    .checkout, .continue-shopping {
        min-height: 0;
        margin-bottom: 25px;
    }

    .continue-shopping a {
        width: 100%;
    }
}

@media screen and (max-width: 1400px) {

    .you-may-like-container h2 {
        padding-left: 0;
        text-align: center;
    }

    .suggested-items-container {
        max-width: 1000px;
    }
}