.content {
    padding: 0;
    min-height: 100vh;
    justify-content: flex-start;
}

.revealeddispatch-header {
    width: 100%;
    min-height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    background: url('/res/images/headers/truthdispatch-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.revealeddispatch-header::before {
    content: '';
    background-color: #00000070;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    z-index: 1;
}

.revealeddispatch-header h2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 3rem;
    color: var(--foregroundLight-color);
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    z-index: 2;
}

.revealeddispatch-header h2::before,
.revealeddispatch-header h2::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -35px;
    width: 20px;
    height: 5px;
    border-radius: 12px;
    background-color: #fff;
    z-index: 2;
}

.revealeddispatch-header h2::after {
    left: auto;
    right: -35px;
}

.wave {
    width: 200%;
    height: 350px;
    overflow: hidden;
    line-height: 0;
    background: transparent;
    position: absolute;
    bottom: -20%;
    left: 0;
    transform: rotateY(360deg);
    background: transparent;
    z-index: 2;
}

.news-container-max {
    width: 100%;
    max-width: 1400px;
    min-height: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.news-posts-container {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post-container {
    width: 90%;
    min-height: 0;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-desktop {
    width: 100%;
}

.post-mobile {
    width: 100%;
    max-width: 900px;
}

.post-desktop h3 {
    color: #fff;
    font-size: 2.5rem;
    max-width: 40ch;
    margin-bottom: 20px;
}

.post-desktop p {
    max-width: 90ch;
    color: grey;
    line-height: 1.6;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.post-desktop .post-cover {
    width: 100%;
    height: 600px;
    border-radius: var(--roundedCorners);
    background: url('https://eagle-sensors.com/wp-content/uploads/unavailable-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.post-desktop .post-cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--roundedCorners);
    background: linear-gradient(to top, #000, 10%, transparent);
}

.post-desktop .post-cover .post-cover-overlay {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 35px;
}

.post-desktop .post-cover .post-cover-overlay h4 {
    color: #fff;
    font-size: 1.6rem;
    font-size: lighter;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.post-desktop .post-cover .post-cover-overlay h4 a {
    color: #fff;
    transform: rotate(45deg);
}

.post-desktop .post-cover .post-cover-overlay p {
    max-width: 90ch;
    color: #ccc;
    line-height: 1.6;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.post-cover-overlay .overlay-meta-info {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
}

.overlay-meta-info .written-by,
.overlay-meta-info .published-on,
.overlay-meta-info .categories {
    width: 100%;
    min-height: 100px;
    color: #fff;
}


.overlay-meta-info .written-by h5,
.overlay-meta-info .published-on h5,
.overlay-meta-info .categories h5 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.overlay-meta-info img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.overlay-meta-info span {
    font-size: 1rem;
}

.overlay-meta-info .wrap-row {
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.overlay-meta-info ul {
    min-height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.overlay-meta-info ul li {
    margin: 5px 10px;
    margin-left: 0;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 5px 10px;
    border-radius: 18px;
    font-size: 1rem;
}

/* mobile post styling */

.post-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post-cover-mobile {
    width: 100%;
    max-width: 700px;
    height: 250px;
    border-radius: var(--roundedCorners);
    background: url('https://eagle-sensors.com/wp-content/uploads/unavailable-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mobile-post-info {
    width: 100%;
    max-width: 700px;
}

.post-mobile .categories ul li {
    margin: 5px 10px;
    margin-left: 0;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 5px 10px;
    border-radius: 22px;
    font-size: 1rem;
    display: inline-flex;
    color: #fff;
    margin: 15px 0;
}

.post-mobile h3 {
    color: #fff;
    font-size: 2.2rem;
    max-width: 700px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-mobile h3 a {
    color: #fff;
    transform: rotate(45deg);
}

.post-mobile p {
    max-width: 700px;
    color: grey;
    line-height: 1.6;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.post-mobile .wrap-row {
    min-height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.post-mobile .written-by {
    width: 100%;
    min-height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.post-mobile .written-by img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-mobile .written-by ul {
    font-size: 1rem;
    color: #fff;
    margin-left: 7.5px;
}

.post-mobile .written-by li {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 5px;
}

@media screen and (max-width: 1200px) {
    .post-desktop {
        display: none;
    }

    .post-mobile {
        display: flex;
    }
}