.content {
    padding: 0;
    min-height: 100vh;
    justify-content: flex-start;
}

.shop-header {
    width: 100%;
    min-height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    background: url('../../res/images/headers/shop-header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.shop-header::before {
    content: '';
    background-color: #00000070;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    z-index: 1;
}

.shop-header h2 {
    position: relative;
    z-index: 2;
}

.shop-header h2::before,
.shop-header h2::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -35px;
    width: 20px;
    height: 5px;
    border-radius: 12px;
    background-color: #fff;
    z-index: 2;
}

.shop-header h2::after {
    left: auto;
    right: -35px;
}

.shop-container-max {
    width: 100%;
    max-width: 1400px;
    min-height: 100px;
    margin: 0 25px;
    margin-top: 200px;
}

h2 {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
}

form {
    width: 100%;
    max-width: 400px;
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: #131313;
    border: 1px solid #333;
    padding: 15px;
    border-radius: 18px;
}

form h2 {
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

form input {
    width: 100%;
    display: block;
    margin: 15px 0;
    max-width: 300px;
}

form input[type='number'] {
    width: 100%;
    max-width: 300px;
    background-color: transparent;
    outline: none;
    border: 3px solid #fff;
    padding: 18px 15px;
    border-radius: 32px;
    color: #fff;
    caret-color: #fff;
    font-size: 1.2rem;
    transition: .3s;
}

form input[type='number']::-webkit-outer-spin-button,
form input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form input[type='number']:focus {
    max-width: 100%;
    border: 3px solid var(--accent-color);
}

/* shop section styling */

.shop-container h2 {
    width: 100%;
    text-align: left;
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 25px;
    padding-left: 20px;
}

.shop-items-container {
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
}

.shop-item {
    width: 100%;
    max-width: 300px;
    margin: 45px 20px;
    min-height: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.shop-item-preview {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: var(--roundedCorners);
}

.shop-item img {
    width: 300px;
    height: 300px;
    transition: .3s;
}

.shop-item-preview:hover > img {
    scale: 1.1;
}

.shop-item-preview:hover ~ h3 {
    color: var(--accent-color);
}

.shop-item h3 {
    color: #fff;
    font-size: 1.4rem;
    margin: 15px 0;
    transition: .3s;
    max-height: 35px;
    overflow: hidden;
}

.shop-item h4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 1.1rem;
    font-weight: lighter;
}

.shop-item h4 button {
	font-size: 1.2rem;
	color: var(--foregroundLight-color);
	background-color: var(--accent-color);
	padding: 5px 15px;
	border-radius: 22px;
	display: inline-block;
	border: 2px solid var(--accent-color);
	text-align: center;
	transition: .3s;
	cursor: pointer;
}

.shop-item h4 button:hover {
	background-color: transparent;
}

/* added item popup styling */

.added-item-popup {
    position: fixed;
    bottom: -150px;
    right: 15px;
    border: 3px solid var(--accent-color);
    border-radius: var(--roundedCorners);
    background-color: var(--primary-color);
    z-index: 3;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: translateY(250px);
    min-height: 100px;
    width: 100%;
    max-width: 400px;
}

.added-item-popup img {
    width: 75px;
    height: 75px;
    border-radius: 18px;
    border-radius: var(--roundedCorners);
}

.added-item-popup h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: lighter;
    padding-left: 15px;
    text-align: left;
    transition: .3s;
}

.added-item-popup h4 span {
    font-weight: 700;
}

.pop {
    animation: itemAdded 6s forwards ease-in-out;
}

@keyframes itemAdded {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-165px);
    }

    60% {
        transform: translateY(-165px);
    }

    100% {
        transform: translateY(165px);
    }
}

@media screen and (max-width: 1400px) {

    .shop-container h2 {
        padding-left: 0;
        text-align: center;
    }

    .shop-items-container {
        max-width: 1050px;
    }
}

@media screen and (max-width: 1200px) {
    .shop-items-container {
        max-width: 700px;
    }
}

@media screen and (max-width: 700px) {

    .shop-container-max {
        margin-top: 100px;
    }

    .shop-items-container {
        max-width: 350px;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .shop-header {
        border-bottom-left-radius: 20%;
        border-bottom-right-radius: 20%;
        min-height: 300px;
    }
    
    .shop-header::before {
        border-bottom-left-radius: 20%;
        border-bottom-right-radius: 20%;
    }
}

@media screen and (max-width: 500px) {
    .added-item-popup {
        max-width: 300px;
    }
}