.content {
    padding: 0;
    min-height: 100vh;
}

.watch-container {
    width: 100%;
    min-height: 100vh;
    padding: 0 200px;
    padding-top: calc(80px + 15px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.theaterMode {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
}

.defaultMode {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.watch-container .video-area-container {
    width: 75%;
    min-height: 50vh;
}

.watch-container.theaterMode {
    padding: 0 100px;
    padding-top: calc(80px + 15px);
}

.theaterMode .video-area-container {
    width: 100%;
}

.watch-container .video-area-container .video-area {
    max-width: 100%;
    width: 100%;
    min-height: 400px;
    border-bottom: 1px solid var(--accent-color);
    color: #fff;
    position: relative;
}

.watch-container .video-area-container .video-area .video-src iframe {
    width: 100%;
    height: calc(100vw / 3);
    background-color: #222;
    border-radius: var(--roundedCorners);
    margin-bottom: 10px;
    aspect-ratio: 16 / 9;
    /* 9:16 Aspect Ratio */
    -webkit-box-shadow: 0px 80px 150px -15px rgba(86,86,86,0.73); 
    box-shadow: 0px 80px 150px -15px rgba(86, 86, 86, 0.73);
}

.watch-container .video-area-container .video-area h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    width: 100%;
    max-width: 75ch;
}

.watch-container .video-area-container .video-area h3 {
    font-weight: lighter;
    color: grey;
    font-size: 1rem;
    margin-bottom: 10px;
}

.watch-container .video-area-container .video-area .extra-information {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: var(--roundedCorners);
    background-color: #62626250;
}

.show-all-discription {
    margin-top: 7.5px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    font-weight: bolder;
    font-size: 1.1rem;
}

.show-all-discription:hover {
    text-decoration: underline;
}

.watch-container .video-area-container .video-area p {
    width: 100%;
    max-width: 100ch;
    margin-bottom: 35px;
}

.video-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.video-actions .main-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.video-actions .main-actions .like-btn {
    min-width: 75px;
    margin-left: 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.video-actions .main-actions .like-btn svg {
    margin-right: 7.5px;
}

.video-actions .main-actions .like-btn:hover {
    color: var(--accent-color);
}

.video-liked {
    color: var(--accent-color) !important;
}

.video-actions .side-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* styling for the watch page buttons */

.watch-page-btn {
    border: none;
    outline: none;
    background-color: #222;
    border-radius: 22px;
    color: #fff;
    font-size: 1.2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 7.5px 15px;
    margin-left: 15px;
    cursor: pointer;
}

.watch-page-btn span {
    width: 10px;
}


.watch-page-btn:hover {
    background-color: #333;
}

/* share action styling */

.share-video-area {
    position: relative;
} 

.watch-container .video-area-container .video-area .viewing-mode-btn:hover {
    cursor: pointer;
}

.watch-container .sidebar {
    width: 25%;
    min-height: 50vh;
    padding-left: 35px;
}

.watch-container .sidebar .suggested-video {
    margin-bottom: 25px;
    cursor: pointer;
}

.watch-container .sidebar .suggested-video .video-thumbnail {
    width: calc(16px * 17);
    height: calc(9px * 17);
    background-color: #222;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: var(--roundedCorners);
    margin-bottom: 15px;
    position: relative;
}

.watch-container .sidebar .suggested-video .video-thumbnail span {
    display: inline-flex;
    border-radius: var(--roundedCorners);
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #00000050;
    padding: 2.5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.watch-container .sidebar .suggested-video h3 {
    width: 30ch;
    color: #fff;
}

.watch-container.theaterMode .sidebar {
    width: 100%;
    padding: 25px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
}

@media screen and (max-width: 1500px) {
    .watch-container {
        padding: 0 100px;
        padding-top: calc(80px + 15px);
    }
}

@media screen and (max-width: 1250px) {

    .watch-container .video-area-container {
        width: 100%;
    }

    .watch-container .video-area-container .video-area .viewing-mode-btn {
        display: none;
    }

    .watch-container {
        padding: 0 25px;
        padding-top: calc(80px + 15px);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .watch-container .sidebar {
        width: 100%;
        padding: 25px 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: column;
    }

    .watch-container.theaterMode .video-area-container .video-area .video-src iframe,
    .watch-container .video-area-container .video-area .video-src iframe {
        height: 450px;
    }
}

@media screen and (max-width: 900px) {
    .watch-container.theaterMode .sidebar {
        align-items: center;
    }

    .watch-container.theaterMode .sidebar .suggested-video,
    .watch-container .sidebar .suggested-video {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .watch-container.theaterMode .sidebar .suggested-video h3,
    .watch-container .sidebar .suggested-video h3 {
        text-align: center;
    }

    .watch-container.theaterMode .video-area-container .video-area .video-src iframe,
    .watch-container .video-area-container .video-area .video-src iframe {
        height: 350px;
    }
}


@media screen and (max-width: 600px) {
    .watch-container.theaterMode {
        padding: 0 25px;
        padding-top: calc(80px + 15px);
    }

    .watch-container.theaterMode .video-area-container .video-area .video-src iframe {
        width: 100%;
        height: 300px;
    }
}

@media screen and (max-width: 500px) {
    .watch-container.theaterMode {
        padding: 0 15px;
        padding-top: calc(80px + 15px);
    }

    .watch-container.theaterMode .video-area-container .video-area .video-src iframe {
        width: 100%;
        height: 300px;
    }

    .watch-container.theaterMode .video-area-container .video-area .video-src iframe,
    .watch-container .video-area-container .video-area .video-src iframe {
        height: 280px;
    }
}