.footer {
    width: 100%;
    min-height: 10px;
}

.contact-footer {
    width: 100%;
    min-height: 391px;
    background-color: #101010;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-footer h1 {
    color: #fff;
    padding-bottom: 25px;
    text-align: center;
}

.contact-footer p {
    color: #fff;
    font-size: 1.2rem;
}

.contact-footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.contact-footer a {
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 1.2rem;
    margin: 15px;
    background-color: rgba(24,38,53,0.87);
    border: 3px solid rgba(24,38,53,0.87);
    border-radius: 50%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: .3s;
}

.contact-footer a:hover {
    background-color: transparent;
}

.contact-footer h3 {
    font-weight: lighter;
    font: 1.4rem;
    color: #4a4a4a;
    position: absolute;
    bottom: 25px;
    padding: 0 15px;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .contact-footer div {
        padding-bottom: 45px;
    }
}