.home {
    width: 100%;
    padding: 100px 0;
    min-height: 100vh;
    position: relative;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(20, 20, 44, 0.5);
}

.home-hero {
    max-width: 100%;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.home-hero img {
    max-width: 90%;
}

.podcast-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

.home-hero a {
    width: 65px;
    height: 65px;
    margin: 25px;
    background-color: rgba(24,38,53,0.87);
    border: 3px solid rgba(24,38,53,0.87);
    color: #fff;
    border-radius: 50%;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-hero a img {
    width: 35px;
    height: 35 px;
}

.home-hero a:hover {
    background-color: transparent;
}

@media screen and (max-width: 800px) {
    .home-hero h2 {
        text-align: center;
    }
    #latestEpisodeContainer iframe {
        height: 350px;
    }
}

@media screen and (max-width: 500px) {
    #latestEpisodeContainer iframe {
        height: 250px;
    }
}