:root {

    /* Website Color Scheme */

    --primary-color: #0f0f0f;
    --secondary-color: #131313;
    --accent-color: #3c7cb9;

	--headerForeground-color: #c0c0c0;
	--headerForegroundHover-color: #fff;

    --foregroundDark-color: #000;
    --foregroundLight-color: #fff;
    --backgroundDark-color: #000;
    --backgroundLight-color: #fff;

    /* Variables for sizing */

    --roundedCorners: 1rem;

    --normalTextSize: 1.1rem;
	--headerTextSize: 1rem;
	--socialMediaSize: 1.6rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	line-height: 1.4;
	text-decoration: none;
	list-style: none;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	animation: fadeInAnimation ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	overflow-x: hidden;
	/* off white background shows on sides of content if screen is over 1080p */
    background-color: var(--backgroundDark-color);
}

/* main container for content of page */

.content {
    padding: 15px;
    width: 100%;
    max-width: 1920px;
    min-height: 100vh;
    background-color: var(--primary-color);
    margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* fade in animation for page */

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* Scrollbar Styling */

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #2c2f33;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #171515;
	border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #171515;
}

.rrn-btn {
	font-size: 1.2rem;
	color: var(--foregroundLight-color);
	background-color: var(--accent-color);
	padding: 15px 25px;
	border-radius: 18px;
	display: inline-block;
	border: 2px solid var(--accent-color);
	text-align: center;
	transition: .3s;
	cursor: pointer;
}

.wide {
	width: 100%;
	display: block;
}

.rrn-btn:hover {
	background-color: transparent;
}


.rrn-btn-outline {
	font-size: 1.2rem;
	color: var(--foregroundLight-color);
	background-color: transparent;
	padding: 15px 25px;
	border-radius: 18px;
	display: inline-block;
	border: 2px solid var(--accent-color);
	text-align: center;
	transition: .3s;
	cursor: pointer;
}

.wide {
	width: 100%;
	display: block;
}

.rrn-btn-outline:hover {
	color: #ccc;
}

.socials-link {
    font-size: var(--socialMediaSize);
    color: var(--foregroundLight-color);
    margin: 15px 10px;
    display: inline-block;
    transition: .3s;
}

.socials-link:hover {
    color: var(--accent-color);
}